body {
    padding-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color: 		red ;
}
nav ul li a {
    color: black!important;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;
	text-decoration: none;
}
nav ul li a:hover {
    text-shadow: 1px 1px 5px #CCC;
}
.nav-link{
    padding-left: 2rem!important;
}
#perfil{
    text-align: center;
    max-width:100%;
   
    
}
#destaques{
    background-color: white!important;
}



h1{ 
    font-family: 'Kaushan Script';
    font-size: 30px;
    text-align: center    ;

    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center!important;
    text-transform: uppercase; 
    font-weight: bold;
    
}
h3{
    font-family: agency fb;
    font-size: 25px;
    text-transform: uppercase;
}
h5{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20Px;
        text-transform: uppercase;
        text-align: center!important;
        font-weight: bold;
}
p{
    font-family: 'Kaushan Script';
    font-size: 25px;
    
}


#fotoYasmin{
        border-radius: 50%;
}

#redes{
    text-align: center;
    

}

footer{
    font-family:  'Kaushan Script';
    text-align: center;
    font-weight: bold;

}
